
header {
    background-color: aqua;
    width: 100%;
    text-align: center;
    padding: 1px;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    
}

h1 {
color: rgb(133, 41, 238);
background-color: azure;
background-position: initial;
display: block;
border-radius: 8px;
}